
<main class="main">
    <div class="content gap-3 px-2">

        <section class="relative flex flex-col justify-center rounded-lg bg-black p-1">

            <video class="grow min-h-[55vh] max-h-[475px]" #video playsinline muted autoplay></video>
            
            <div *ngIf="isConnected" class="relative z-10 grid grid-flow-col grid-cols-[1fr_4fr_1fr] gap-2 p-4 duration-300 opacity-50 border-t border-gray-500 hover:opacity-100">
                <div class="flex justify-start gap-3">
                    <button class="control" (click)="playStream()" aria-label="Play" title="Play Camera">
                        <ng-icon name="featherPlay"></ng-icon>
                    </button>
                    <button class="control" (click)="pauseStream()" aria-label="Pause" title="Pause Camera">
                        <ng-icon name="featherPause"></ng-icon>
                    </button>
                </div>
                <div class="flex justify-center">
                    <button class="snapshot" (click)="takeSnapshot()" aria-label="Snapshot" title="Snapshot">
                        <ng-icon name="featherCamera"></ng-icon>
                    </button>
                </div>
                <div class="flex justify-end gap-3">
                    <button class="control" (click)="stopStream()" aria-label="Disconnect" title="Disconnect Camera">
                        <ng-icon name="featherCameraOff"></ng-icon>
                    </button>
                </div>
            </div>

            <div id="overlay"  class="overlay">
                <ng-container *ngIf="!isConnected">
                    <a href="#" class="connect" (click)="connect()">
                      <ng-icon name="featherCamera" size="3.5rem"></ng-icon>
                      Connect to the camera
                    </a>
                </ng-container>
                <ng-container *ngIf="isConnected">
                  <button class="start" *ngIf="!timer.active" (click)="startTimer()">Start</button>
                  <div *ngIf="timer.active" class="timer">{{ timer.value === 0 ? '😁' : timer.value }}</div>
                  <div id="shutter" class="overlay {{ timer.value === 0 ? 'blink' : '' }}"></div>
                </ng-container>
            </div> 
        </section>

        <section id="photos-wrapper" class="relative  flex flex-col justify-center rounded-lg bg-black py-1 px-0.5">
          <section id="photo-strip" #photostrip>
            <canvas class="canvas" #canvas></canvas>
            <canvas class="canvas" #canvas></canvas>
            <canvas class="canvas" #canvas></canvas>
          </section>
          <div class="container flex justify-center gap-2 h-[4.2rem]">
            <ng-container *ngIf="images.length === 3">
            <button class="btn-outline" (click)="showPrint()" aria-label="Print" title="Print">
                <ng-icon name="featherPrinter"></ng-icon>
            </button>
            <button class="btn-outline" (click)="showDownload()" aria-label="Download" title="Download">
                <ng-icon name="featherDownload"></ng-icon>
            </button>
            </ng-container>
          </div>
        </section>
      
    </div>

    <section #widgets id="widgets">  
      <fieldset>
          <legend>Filters</legend>
          <div style="display:flex; flex-direction:row; flex-wrap:wrap; gap:.25rem;">
          <ng-container *ngFor="let filter of filters; index as i; let last = last">
            <label *ngIf="!last" for="filter{{i+1}}">
              <input type="radio" name="filter" id="filter{{i+1}}" (change)="changeFilter($event)" [checked]="filter === curFilter" />
              {{filter}}
            </label>
            <div *ngIf="last" style="flex-grow:1;">
              <input type="button" name="filter" id="filter{{i+1}}" (click)="changeFilter($event)" value="{{filter}}" />
            </div>
          </ng-container>
          </div>
      </fieldset>
    </section>


  </main>
  
  
