<style >



</style>
<main class="main">
    <div class="content">

        <section id="camera-wrapper">
          <!-- <video id="video" src="http://192.168.1.114/videostream.cgi" autoplay="autoplay"></video> -->
          <video class="video" #video playsinline muted autoplay></video>
            
            <div id="overlay"  class="overlay">
                <ng-container *ngIf="!isConnected">
                    <a href="#" class="connect" (click)="connect()">
                      <fa-icon [icon]="faCamera" size="3x"></fa-icon>
                      Connect to the camera
                    </a>
                </ng-container>
                <ng-container *ngIf="isConnected">
                  <button class="start" *ngIf="!timer.active" (click)="startTimer()">Start</button>
                  <div *ngIf="timer.active" class="timer">{{ timer.value === 0 ? '😁' : timer.value }}</div>
                  <div id="shutter" class="overlay {{ timer.value === 0 ? 'blink' : '' }}"></div>
                </ng-container>
            </div>
            
        </section>
        <div>
          <section id="photo-strip" #photostrip>
            <canvas class="canvas" #canvas></canvas>
            <canvas class="canvas" #canvas></canvas>
            <canvas class="canvas" #canvas></canvas>
          </section>
          <div class="container" *ngIf="images.length == 3">
            <button (click)="showPrint()">Print</button>
            <button (click)="showDownload()">Download</button>
          </div>
        </div>
      
    </div>

    <section #widgets id="widgets">
      <fieldset>
          <legend>Controls</legend>
          <button (click)="playStream()">Play</button>
          <button (click)="pauseStream()">Pause</button>
          <button (click)="stopStream()">Stop</button>
          <button (click)="takeSnapshot()">Snapshot</button>

      </fieldset>
      <fieldset>
          <legend>Filters</legend>
          <div style="display:flex; flex-direction:row; flex-wrap:wrap; gap:.25rem;">
          <ng-container *ngFor="let filter of filters; index as i; let last = last">
            <label *ngIf="!last" for="filter{{i+1}}">
              <input type="radio" name="filter" id="filter{{i+1}}" (change)="changeFilter($event)" [checked]="filter === curFilter" />
              {{filter}}
            </label>
            <div *ngIf="last" style="flex-grow:1;">
              <input type="button" name="filter" id="filter{{i+1}}" (click)="changeFilter($event)" value="{{filter}}" />
            </div>
          </ng-container>
          </div>
      </fieldset>
    </section>
  </main>
  
  
