/* mixins */

@mixin applyFilter($val) {
    -webkit-filter: $val;
    -moz-filter: $val;
    -ms-filter: $val;
    -o-filter: $val;
    filter: $val;
}


@mixin triple-linear-gradient($angle: top, $c1: #fff, $c2: #ddd, $c3: #fff) {
    background: -webkit-linear-gradient($angle, $c1, $c2, $c3);
    background: -moz-linear-gradient($angle, $c1, $c2, $c3);
    background: -ms-linear-gradient($angle, $c1, $c2, $c3);
    background: -o-linear-gradient($angle, $c1, $c2, $c3);
}

@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding; 
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box; 
}
