/*

*/
@use 'reset';
@use 'mixins';


body {
    background: rgb(0, 0, 0) url(/img/blackwood.jpg);
    background-size: cover;
    background-position: 0 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0 5px 0 10px ;
    @media screen and (min-width: 768px) {
        padding: 0 20px;
        
    }
}

#root {
    position: relative;
    max-width: 1200px;
    margin: 10px auto 0;
    background: #000;
    background: rgba(53, 53, 53, 0.553);
    @include mixins.rounded(10px);
    xborder: 1px solid #ddd;

    @media screen and (min-width: 768px) {
        margin: 20px auto 0; 
    }

    header {
        height: 7px;
        margin: -4px -4px 0;
        
        h1 {
            z-index: 10;
            color: #fff;
            font-family: 'Galada', 'Capture it';
            text-shadow: -1px -1px 0 #5b0000;
            font-size: 1em;
            padding: 20px 2px 10px;
            text-align: center;

            &.ribbon {
                background: #b80000;
                border-left: 1px dashed #fefefe;
                border-right: 1px dashed #fefefe;
                border-radius: 5px 5px 0 0;
                box-shadow: 5px 0 0 #b80000, -5px 0 0 #b80000, -5px 0 25px #000;
                margin: 0 5px;
                position: relative;
                width: 40px;
                height: 30px;
                @include mixins.triple-linear-gradient(-45deg, #b80000 20%, #b92222 52%, #b80000 20%);
                @include mixins.applyFilter(drop-shadow(0 2px 5px hsla(0, 0%, 0%, .5)));
                &:after,
                &:before {
                    border-top: 15px solid #b80000;
                    content: '';
                    height: 0;
                    position: absolute;
                    top: 100%;
                    width: 0;
                }
                &:after {
                    border-left: 50px solid transparent;
                    right: -6px;
                }
                &:before {
                    border-right: 50px solid transparent;
                    left: -6px;
                }
            }
            @media screen and (min-width: 768px) {
                font-size: 2em;
                &.ribbon {
                    width: 90px;
                    height: 80px;
                }
                
            }
        }
    }
}

br {
    clear: both;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}


.grayscale {
    @include mixins.applyFilter(grayscale(100%));
}

.sepia {
    @include mixins.applyFilter(sepia(100%));
}

.blur {
    @include mixins.applyFilter(blur(5px));
}

.brightness {
    @include mixins.applyFilter(brightness(50%));
}

.contrast {
    @include mixins.applyFilter(contrast(50%));
}

.hue-rotate {
    @include mixins.applyFilter(hue-rotate(-420deg));
}

.hue-rotate2 {
    @include mixins.applyFilter(hue-rotate(250deg));
}

.hue-rotate3 {
    @include mixins.applyFilter(hue-rotate(150deg));
}

.saturate {
    @include mixins.applyFilter(saturate(300%));
}

.invert {
    @include mixins.applyFilter(invert(1));
}


.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px) scale(1.2);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.flash-down {
    animation: flashdown 1s;
}

@keyframes flashdown {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}



#widgets {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    display: none;
    fieldset {
        border: 1px solid #555;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        legend {
            border-radius: 5px;
            background: #1b1b1b;
            color: #c5c5c6;
            font-size: 0.8rem;
            padding: 5px 10px;
        }

        button {
            font-size: 1em;
            background: #474c5e;
            color: #fff;
            border-style: solid;
            padding: .5rem 1rem; 
            border-radius: 7px;

            &:hover {
                background: #4f55a7;
                cursor: pointer;
            }
        }

        label {
            font-size: 12px;
        }
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }    
    }
    
}

main {
    padding: 0 .31rem;
    height: 80vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;

    @media (min-width: 768px) {
        grid-template-columns: 3fr 240px;
    }
}

#camera-wrapper {
    xbox-shadow: 0 0 10px #000;
    xborder: 1px solid #555;
    border-radius: .5rem;
    background: #000;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex-grow: 1;
    position: relative;
    min-height: 40vh;
}
#photos-wrapper {
    xbox-shadow: 0 0 10px #000;
    xborder: 1px solid #555;
    border-radius: .5rem;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem .5rem;
    flex-grow: 1;
    position: relative;
}

#photo-strip {
    background: #000;
    display: flex;
    flex-grow: 1;
    position: relative;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    overflow-x: auto;
    gap: 1rem;
    padding: 0.8rem;
    border: 3rem dotted #ffffff2a;
    border-width: 0.8rem 0;

    @media (min-width: 768px) {
        flex-direction: column;
        justify-content: space-evenly;
        border-width: 0 0.8rem;
    }
}

.camera {
    min-height: 30vh;
    width: 100%;
    max-width: 90%;
    margin: 0;
    padding: 0;
    aspect-ratio: 4/3;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        max-width: 100%;
        max-height: 100%;
        width: 50vw;
    }
}

.canvas {
    max-width: 100%;
    max-height: 100%;
    width: 240px;
    max-height: 150px;
    aspect-ratio: 4/3;
    xobject-fit: cover;
    background-color: #333;
}



#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003d;
    color: #fff;
    
    .connect {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
        z-index: 1;
        transition-duration: .2s;
        opacity: .7;
        &:hover {
            opacity:1;
            cursor: pointer;
        }    
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
            
        }
    }
    .start {
        font-size: 2rem;
        padding: 1rem 2rem;
        background: #0000008c;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        z-index: 1;
        transition-duration: .2s;
        opacity: .7;
        &:hover {
            opacity:1;
            cursor: pointer;
        }
    }

}


#shutter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff7c;
    opacity: 0;
}

.timer {
    font-size: 4rem;
    color: #fff;
    animation: flashdown 1.02s ease-in infinite;
}